<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSPLogin</display-name>
  <welcome-file-list>   
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controllers.servlet.LoginController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.controllers.servlet.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.controllers.servlet.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>